# Работа с таблицами (упражнения) - настройка стиля

- ```df.style.highlight_null()``` – подсветить ячейки с пропущенными значениями 
- ```df.style.highlight_max()``` – подсветить ячейки с максимальными значениями по колонкам
- ```df.style.highlight_min()``` – подсветить ячейки с минимальными значениями по колонкам
- ```df.style.applymap(func)``` – применить стилевую функцию к каждой ячейке датафрэйма
- ```df.style.apply(func, axis, subset)``` – применить стилевую функцию к каждой колонке/строке в зависимости от axis, subset позволяет выбрать часть колонок для оформления
- ```render()``` – после декорирования возвращает HTML, описывающий табличку

## Загрузка библиотек и настройка среды

In [19]:
import pandas as pd
import numpy as np

## Индексы и подписи

In [20]:
np.random.seed(77)
df = pd.DataFrame({'A': list(range(5)), 
                   'B': np.random.randint(0, 10, 5),
                   'C': np.random.randint(-10, 10, 5), 
                   'D': np.random.randint(-10, 100, 5)})
df

   A  B   C   D
0  0  7 -10  49
1  1  4  -3  90
2  2  4   2  44
3  3  5   9  26
4  4  8 -10  37

In [21]:
df.style.hide_index()

In [22]:
df.style.hide_index().set_caption('Cool table')

## Раскрашиваем ячейки

In [23]:
df.style.highlight_max(axis = 1)

In [24]:
df.style.highlight_max(axis = 'index')

In [25]:
df.style.highlight_min()

In [26]:
(df.style
 .highlight_min('A', color='red')
 .highlight_max('B', color='orange')
 .background_gradient(subset=['C','D'],cmap='viridis')
)

In [27]:
df.style.bar(subset=['C', 'D'], color='#67A5EB')

In [28]:
df.style.bar(subset=['C', 'D'], color='#67A5EB', align='mid')

In [29]:
(df
 .style
 .hide_index()
 .bar(subset=['C'], align='mid',color=['#d65f5f', '#5fba7d'])
)

## Форматирование отображения чисел

In [30]:
df = pd.DataFrame({'A': np.linspace(1, 10, 5)})
df = pd.concat([df, pd.DataFrame(np.random.randn(5, 4), columns=list('BCDE'))],axis=1)
df['F'] = np.random.choice(['A', 'B'], size=5)
df.iloc[3, 3] = np.nan 
df.iloc[0, 2] = np.nan 
df

       A         B         C         D         E  F
0   1.00  0.797939       NaN -1.652119  0.717119  B
1   3.25  0.977228 -1.040849 -0.643520 -0.112520  A
2   5.50 -0.314166  1.627440 -0.361227 -0.173046  B
3   7.75 -1.951309 -0.978210       NaN -1.178379  A
4  10.00 -0.515551 -0.063015 -0.559371  0.796697  A

In [31]:
df.style.format("{:+.2f}", subset=df.columns.drop('F'))

In [32]:
(df.style
 .format({'B': "{:0<4.0f}", 'D': '{:+.2f}'})
 .hide_index()
 .set_caption('Новая таблица'))

In [33]:
(df.style
 .bar(align='mid', color=['#d65f5f', '#5fba7d'])
 .to_excel('styled.xlsx', engine='openpyxl')
)

## Retention

**Retention** – показатель удержания пользователей. Иными словами – отражает то, сколько пользователей возвращаются в продукт спустя заданное время.

Обычно день начала использования сервиса называется **Day 0** – момент, когда юзер впервые воспользовался продуктом. **N-Day Retention** показывает, сколько процентов пользователей, начавших пользоваться продуктом в день 0, вернулись и продолжили использовать продукт N дней спустя.

In [34]:
user_retention = \
    pd.read_csv("https://stepik.org/media/attachments/lesson/367416/user_retention.csv",
                index_col = 0)

In [35]:
user_retention

,0,1,2,3,4,5,6,7,8,9,10,11,12
Cohort,,,,,,,,,,,,,
2010-12,1.0,0.381857,0.334388,0.387131,0.359705,0.396624,0.379747,0.354430,0.354430,0.394515,0.373418,0.500000,0.274262
2011-01,1.0,0.239905,0.282660,0.242280,0.327791,0.299287,0.261283,0.256532,0.311164,0.346793,0.368171,0.149644,NaN
2011-02,1.0,0.247368,0.192105,0.278947,0.268421,0.247368,0.255263,0.281579,0.257895,0.313158,0.092105,NaN,NaN
2011-03,1.0,0.190909,0.254545,0.218182,0.231818,0.177273,0.263636,0.238636,0.288636,0.088636,NaN,NaN,NaN
2011-04,1.0,0.227425,0.220736,0.210702,0.207358,0.237458,0.230769,0.260870,0.083612,NaN,NaN,NaN,NaN
2011-05,1.0,0.236559,0.172043,0.172043,0.215054,0.243728,0.265233,0.103943,NaN,NaN,NaN,NaN,NaN
2011-06,1.0,0.208511,0.187234,0.272340,0.246809,0.336170,0.102128,NaN,NaN,NaN,NaN,NaN,NaN
2011-07,1.0,0.209424,0.204188,0.230366,0.272251,0.115183,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-08,1.0,0.251497,0.251497,0.251497,0.137725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-09,1.0,0.298658,0.325503,0.120805,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10,1.0,0.264205,0.130682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-11,1.0,0.134375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
ur_style = (user_retention
            .style
            .set_caption('User retention by cohort')  # добавляем подпись
            .background_gradient(cmap='viridis')  # раскрашиваем ячейки по столбцам
            .highlight_null('white')  # делаем белый фон для значений NaN
            .format("{:.2%}", na_rep=""))  # числа форматируем как проценты, NaN заменяем на пустоту
ur_style